* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic Layout */
body {
  font-family: "Courier New", Courier, monospace;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

main {
  width: 90%;
  max-width: 800px;
  margin-top: 20px;
  text-align: center;
}

h1 {
  font-size: 2rem;
  text-align: left;
}

h2 {
  text-align: center;
  padding-bottom: 20px;
}

#palette-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#form {
  display: grid;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 5px solid black;
}

legend {
  padding-top: 20px 0px 20px 0px;
}

fieldset {
  border: none;
}
