:root {
  background-color: bisque;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Tahoma, sans-serif;
}

h1 {
  text-align: left;
  font-weight: bold;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 25px;
  padding-bottom: 50px;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

h2 {
  padding: 0;
  text-align: center;
}

#box {
  border: 1px solid black;
  position: fixed;
}

fieldset {
  border: 0;
}
